<!DOCTYPE>
<html lang='en'>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>

    <body>

    <nav class="flexbox">
        <li><a href="/">Home</a></li>
        <ul>
            <li><a href="/login">Login</a></li><br>
            <li><a href="/register">Register</a></li><br>
            <li><a href="/logout">Logout</a></li>

        </ul>
    </nav>

        {{{body}}}

    </body>

    {{!-- <div class="fixed-footer">
        {{>footer/footer}}
    </div> --}}
    
</html>
