<!-- navigation bar with an unordered list -->

<header class="page-header">

    <h1 style="text-align: center; color: black;">Welcome to <i>Login</i></h1><br>

</header>
<div class="block">

	<h2> This page will be used to make login credentials.</h2>

</div>

   
