


<div class="formbox">
	<h1>
Login
</h1>
<form METHOD="POST" ACTION='/registerUser'>

	<input id="userName" name="userName" placeholder="Enter Username"><br>
	<input id="passWord" name="passWord" placeholder="Enter password"><br>
	<button type='submit' value='submit'>Login</button>

</form>

</div>