


<div class="formbox">
	<h1>
Login
</h1>
<form METHOD="POST" ACTION='/loginUser'>

	<input type="text" id="userName" name="userName" placeholder="Enter Username"><br>
	<input type="password" id="passWord" name="passWord" placeholder="Enter password"><br>
	<button type='submit' value='submit'>Login</button>

</form>

</div>