


<div class="formbox">
	<h1>
Register
</h1>
<form METHOD="POST" ACTION='/registerUser'>	

	<input type='text' id="nameUser" name="firstName" placeholder=" First name"><br>
	<input type='text' id="nameUser" name="lastName" placeholder=" Last name"><br>
	<input type='email' id="emailUser" name="emailName" placeholder=" email"><br>
	<input type='text' id="userName" name="userName" placeholder=" Username"><br>
	<input type='password' id="passWord" name="passWord" placeholder=" password"><br>
	<button type='submit' value='submit'>Register</button>

</form>

</div>